{% extends 'base.html'%}
{% block content %}
<div class="container">
    <div class="row">
        {% if todos_los_videos %}
            {% for video in todos_los_videos %}               
                <div class="col-md-3 col-sm-6">
                    <a href="{% url 'videos:video' video.id%}"><img src="{{video.imagen.url}}" class="img-thumbnail"></a>  
                </div>                                  
            {% endfor %}
        {% else %}
        {% endif %}
    </div>

</div>
    
{% endblock%}
