{% extends 'base.html' %}
{% block content %}

    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header text-center"> <h1><i class="fa fa-user"></i>Hola {{usuario.username}}</h1> </div>
                <div class="card-body">                                                                               
                    <div class="row">Nombre: {{usuario.first_name}} </div>
                    <div class="row">Apellido: {{usuario.last_name}}</div>
                    <div class="row">Correo: {{usuario.email}}</div>
                    <div class="row text-center">
                    <a href="" class="btn btn-primary mb-1">Modificar perfil</a>
                    <a href="{%url 'usuarios:plantilla_p'%}" class="btn btn-secondary mb-1">Modificar contraseña</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}