{% extends 'base.html' %}
{% block content %}
<!--REGISTRO DE CUENTAS DE USUARIO-->
<form action="{% url 'usuarios:registrarse' %}" method="POST">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Usuario</label>
        <input type="text" class="form-control" id="id_username"placeholder="usuario">
      </div>
      <div class="form-group">
          <label for="id_email">Correo electronico</label>
          <input type="text" class="form-control" id="id_email" name="email"placeholder="correo electronico">
      </div>
      <div class="form-group">
          <label for="id_first_name">Nombre</label>
          <input type="text" class="form-control" id="id_first_name" name="first_name"placeholder="nombre">
      </div>
      <div class="form-group">
          <label for="id_last_name">Apellidos</label>
          <input type="text" class="form-control" id="id_last_name" name="last_name"placeholder="apellidos">
      </div>
      <div class="form-group">
        <label for="id_password1">Contraseña</label>
        <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Password">
      </div>
      <div class="form-group">
          <label for="id_password1">Comprobar contraseña</label>
          <input type="password" class="form-control" id="id_password2" name="password2" placeholder="comprobar contraseña">
      </div>
<input type="submit" class="btn btn-primary" value="Registrarse">

</form>
{% endblock %}
<form>
    
    
  </form>